<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>968510000223-8uoepc4oec8ac511bm24ksq2ttt64sjq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.968510000223-8uoepc4oec8ac511bm24ksq2ttt64sjq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>968510000223-0pc8ufep82ktbknpbl498lqs1f706i59.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBVVDkA88M8PTTq9qU13MpA_B0S3jwCqnU</string>
	<key>GCM_SENDER_ID</key>
	<string>968510000223</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pexa.partner</string>
	<key>PROJECT_ID</key>
	<string>carclenx</string>
	<key>STORAGE_BUCKET</key>
	<string>carclenx.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:968510000223:ios:be7d8c334dac5af459dfea</string>
	<key>DATABASE_URL</key>
	<string>https://carclenx.firebaseio.com</string>
</dict>
</plist>